{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="../css/index.css"> -->

		<title>Python Flask Multiple Files Upload Example</title>
</head>
<body>

  <div class="jumbotron">
    <div class="container">
      <center>
  			<div class="alert alert-danger" role="alert">
  				<h2>Select file(s) to Share... <br>(Note: Refresh this page after submit, to get Shareable link)</h2>
  			</div>
  			<br>

  			<p>
  				{% with messages = get_flashed_messages() %}
  				  {% if messages %}

  					<ul class=flashes>
  					{% for message in messages %}
  					  <li>
                <div class="alert alert-danger" role="alert">
                  <h3>{{ message }}</h3>
  	            </div>
              </li>
  					{% endfor %}
  					</ul>

  				  {% endif %}
  				{% endwith %}
  			</p>

        <div class="alert alert-info" role="alert">
  	      <h4>ALLOWED_EXTENSIONS = 'txt', 'pdf', 'png', 'jpg', 'jpeg', 'gif'</h4>
		<br><h3>File of any extension can be shared, if you rename it as file_name.txt</h3><br> 
  	    </div>

  			<form method="post" action="/" enctype="multipart/form-data">

  				<div class="alert alert-warning" role="alert">
  					<strong>Set Password: </strong>
  					<input type="password" name="unique"/>
          </div>
  				<br>

  			    <dl>
  						<p>
  							<div class="alert alert-info" role="alert">
  								<input type="file" name="files[]" multiple="true" autocomplete="off" required>
  	            </div>
  						</p>
  			    </dl>

  			    <p>
  						<div class="alert alert-danger" role="alert">
  							<input type="submit" value="Submit">
              </div>
  					</p>
  			</form>

      </center>
		</div>
	</div>
</body>

{% endblock %}
